body {
	background-color: rgb(255, 178, 102);
}

.name {
	color: rgb(64, 64, 64);
	text-align: center;
	margin-top: -460px;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 55px;
}

.motw {
	color: rgb(64, 64, 64);
	text-align: center;
	margin-top: 20px;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 30px;
}

.box {
	background-color: rgb(255, 153, 51);
	margin-top: 65px;
	margin-left: 371px;
	width: 600px;
	height: 480px;
}
